<h1>Add Your New Product Here</h1>

<form action="/products" method="post">
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Price: <input type="number" name="price">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <div>
    In Stock?: <input type="text" name="stock_status">
  </div>
  <div>
    Category Id: <input type="text" name="category.id">
  </div>
<!--   <div>
    Image URL: <input type="text" name="image_url">
  </div> -->
  <div>
    <label for="supplier-select">Choose a supplier:</label>
    <select name="supplier_id" id="supplier-select">
      <option value="">--Please choose an option--</option>
      <% Supplier.all.each do |supplier| %>
          <option value="<%= supplier.id %>"><%= supplier.name %></option>
      <% end %>
      
    </select>
  </div>

  <input type="submit" value="Create Product">

</form>

<!--     Supplier Id: <input type="number" name="supplier_id">
 -->