<h1>Add The Product's Image URLs</h1>

<form action="/images" method="post">
  <div>
    Product Id: <input type="number" name="product_id">
  </div>
  <div>
    Url: <input type="text" name="url">
  </div>
  <input type="submit" value="Create Image URL for Product">

</form>